.multi-image-uploader {
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  max-width: 100%;
  box-sizing: border-box;
  height: auto;
  border: 1px solid #ccc;
}

.multi-image-uploader:hover {
  filter: brightness(80%);
  transition: filter 0.3s ease;
}
.show-winner-image-container {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 200px;
}
.team-members-img {
  width: 90%;
  height: auto;
  max-height: 500px;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.chosen-image-container 
{


    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.dismiss-image-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
  color: #ff4d4f;
  background-color: white;
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.multi-image-uploader-input
{
  display: none;
}
.custom-file-upload {
  display: flex;  
  cursor: pointer;
  min-width: 100%;
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

}
.upload-icon {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
}

