.not-found-container {
  color: black;
  align-items: center;
  height: calc(100vh - (55px + 320px));
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  box-sizing: border-box;
  padding-top: 3rem;
}

.not-found-container p {
  font-size: xx-large;
  font-weight: bold;
  margin-top: 1rem;
}
.not-found-container button{
    margin-top: 2rem;
    padding: 10px 20px;
    font-size: large;
    font-weight: bold;
    background-color: #8c1d40;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.not-found-container button:hover{
    background-color: #ffc627;
    color: #8c1d40;
}

