.winner-component__parent-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.winner-component__no-results {
  flex-grow: 1;
}

.winner-component__winner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 16px;
  padding: 20px;
}
.winners-winners-winningpic
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.winner-component__winner-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border-radius: 8px;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.winner-component__winner-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.winner-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.winner-component__winner-image {
  width: 100%;
  height: 200px;
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 16px;
  position: relative;
}

.winner-component__winner-medal {
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  stroke-width: 12;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.winner-component__winner-text-section {
  color: black;
  text-align: left;
  margin: 0;
}

.winner-component__winner-project {
  margin: 0;
  font-weight: 650;
  font-size: 1.1rem;
  color: #8C1D40;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.winner-component__winner-author {
  margin: 0;
  font-size: 0.85rem;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.winner-component__winner-info-row {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 6px;
  margin-bottom: 6px;
}

.winner-component__winner-semester {
  font-size: 0.75rem;
  font-weight: 500;
  background: #E0E0E0;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}

.winner-component__winner-department {
  background: #FFC627;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  margin-left: 0.25rem;
  font-size: 0.75rem;
  font-weight: 500;
}

.winner-component__winner-description {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.875rem;
}

.winner-component__winner-details-link-container {
  margin-top: 1rem;
}

.winner-component__winner-details-link {
  margin-top: 0.75rem;
  background: #8C1D40;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 7px 18px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;
  display: inline-block;
}

.winner-details-link:hover {
  background: #D23153;
}

@media (max-width: 1024px) {
  .winner-component__winner-container {
    flex-direction: column;
    align-items: center;
  }
}

